body {
    background-color: #FFFAF7;
}


.contain-blog {
    display: grid;
    width: 100%;
    height: 100%;
    /* grid-template-columns: 1fr 3fr 3fr 3fr 1fr; */
    grid-template-columns: 20% 60% 20%;
    grid-template-rows: 15% 25% 45% 15%;
    grid-template-areas: " . header . "
                        " . blog-head . "
                         " . main . "
                         " footer footer footer ";
    grid-gap: 2rem;
    
                    
                    
}

#header {
    grid-area: header;
}

#blog-head {
    grid-area: blog-head;
    
}

#blog-content {
    grid-area: main;
}

#footer {
    grid-area: footer;
}

header>h1 {
    font-family: 'Montserrat', ;
    text-align: center;
    font-weight: 500;
    font-size: 2.5em;
    color: brown;
    text-shadow: grey;
}

#subtitle {
    font-family: 'Lora', ;
    font-weight: 350;
    font-size: 200%;
    text-align: center;
    color: #4B3021;
}

#home-top a {
    font-family: 'Montserrat', ;
    text-align: center;
    font-weight: 500;
    font-size: 2.5em;
    color: brown;
    text-shadow: grey;
}

#blog-head h2 {
    font-family: 'Lora', ;
    font-weight: 300;
    font-size: 175%;
    text-align: center;
    color: #4B3021;
}

#blog-head img {
    width: 100%;
    height: auto;
}

.blog-words {
    font-weight: 600;
    font-family: 'Arimo', bold;
    color: #4B3021;
}

.blog-words p {
    text-align: justify;
    font-family: 'Source Sans Pro', light;
    font-weight: 150;
    font-size: 100%;
    text-align: justify;
    color: #86220A;
    margin-bottom: 10px;
}