body {
    background-color: #F2E3BC;
}


.contain-learn-more {
    display: grid;
    width: 100%;
    height: 100%;
    /* grid-template-columns: 1fr 3fr 3fr 3fr 1fr; */
    grid-template-columns: 10% 25% 55% 10%;
    grid-template-rows: 15% 45% 25% 15%;
    grid-template-areas: " . header header . "
                         " . sidebar-top main . "
                         " . sidebar-bot main . "
                         " footer footer footer footer ";
    grid-gap: 2rem;
    
                    
                    
}

hr {
    color: #9A8779;
}

header> h1 {
    font-family: 'Montserrat', ;
    text-align: center;
    font-weight: 600;
    font-size: 4em;
    color: brown;
    text-shadow: grey;
}

#subtitle {
    font-family: 'Lora', ;
    font-weight: 300;
    font-size: 200%;
    text-align: center;
    color: #4B3021;
    margin-bottom: 20px;
}

#header {
    grid-area: header;

}
 
#header a {
    font-family: 'Montserrat', ;
    text-align: center;
    font-weight: 600;
    font-size: 2em;
    color: brown;
    text-shadow: grey;
}

#main {
    grid-area: main;
    text-align: justify;
   
}


#main h2 {
    font-weight: 400;
    font-family: 'Lora', ;
    color: #4B3021;
}

#main p {
    font-family: 'Lora', ;
    font-weight: 250;
    font-size: 110%;
    text-align: justify;
    color: #86220A;
    margin-bottom: 10px;
}

#sidebar-top {
    grid-area: sidebar-top;
    text-align: justify;
   
    
}

#sidebar-bot {
    grid-area: sidebar-bot;
    padding-top: 1rem;
    
}

.date-label {
    background-color: #9A8779;
    border-radius: 6px;
    color: white;
    padding: .5rem;
    width: 75px;
    height: fit-content;
}

.notables {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
   
}

.notables h4 {

    color: #4B3021;
    font-family: 'Montserrat', ;
}

.notables p {
    color: #4B3021;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: justify;

}

.notables img {
    float: left;
   height: 5rem;
   width: 5rem;
   margin-right: 2px;
   margin-bottom: 2px;
}

.styled-btn {
    background-color: #C45C09;
    color: #FFBC0A;
    font-size: 1rem;
    border: 0;
    padding: 0 20px;
    text-align: center;
    border-radius: 5px;
    line-height: 2.5;
}

.styled-btn:hover {
    background-color: #8CD867;
}

.side-post {
    padding-bottom: 20px;

}