body {
    background-color: #FFFAF7;
}

.contain-learn-more {
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: 10% 25% 55% 10%;
    grid-template-rows: 10% 45% 30% 15%;
    grid-template-areas: " . header header . " " . sidebar-top main . " " . sidebar-bot main . " " footer footer footer footer ";
    row-gap: .5rem;
    column-gap: 2rem;
}

hr {
    color: #9A8779;
}

/* header>h1 {
    font-family: 'Montserrat', ;
    text-align: center;
    font-weight: 500;
    font-size: 3em;
    color: brown;
    text-shadow: grey;
} */

/* #subtitle { */
    /* font-family: 'Lora', ; */
    /* font-weight: 300; */
    /* font-size: 200%; */
    /* text-align: center; */
    /* color: #4B3021; */
    /* margin-bottom: 20px; */
/* } */

#header {
    grid-area: header;
    align-items: center;
    display: grid;
    grid-template-areas: "img";
}

/* #home-top {
    grid-area: img;
} */

#home-top header {
    display: grid;
    text-align: center;
}

#home-top img {
    text-align: center;
    width: 40%;
    height: auto;
}

/* #header a {
    align-self: center;
    display: block;
} */

/* #header img {
    display: block;
    
    
} */

/* #header a { */
    /* font-family: 'Open Sans Condensed'; */
    /* text-align: center; */
    /* font-weight: 600; */
    /* font-size: 2em; */
    /* color: brown; */
    /* text-shadow: grey; */
/* } */

#main {
    grid-area: main;
    text-align: justify;
    
}

#footer {
    grid-area: footer;
   
}

#main h2 {
    font-weight: 600;
    font-family: 'Open Sans Condensed';
    color: #4B3021;
    text-transform: uppercase;
}

#main-page h1 {
    font-family: "Open Sans Condensed";
    color: #4B3021;
    font-size: 200%;
    text-transform: uppercase;
    
}

#main-page p {
    font-family: 'Raleway', light;
    font-weight: 150;
    font-size: 100%;
    text-align: justify;
    color: #86220A;
    margin-bottom: 10px;
}

#top-img img {
    object-position: 50% 50%;
    object-fit: contain;
    width: 100%;
    height: auto;
}

#sidebar-top {
    grid-area: sidebar-top;
    text-align: justify;
}

#sidebar-bot {
    grid-area: sidebar-bot;
    padding-top: 1rem;
    
}

.side-post {
    display: flex;
    flex-direction: column;
    justify-items: center;

}

.side-post>h4 {
    
    font-family: 'Open Sans Condensed';
    color: #4B3021;
    text-transform: uppercase;
}

.side-post>p {
    font-family: 'Raleway', light;
    color: #4B3021;
}

.date-label {
    background-color: #764248;
    border-radius: 6px;
    color: #FDE6BE;
    padding: .25rem;
    width: 25%;
    height: auto;
    box-shadow: darkgrey;
    font-family: "Raleway", light;
}

.date-label:hover {
    background-color: #61373B;
}

.notables {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.notables h4 {
    color: #4B3021;
    font-family: "Open Sans Condensed";
}

.notables p {
    color: #4B3021;
    font-family: 'Raleway', light;
    text-align: justify;
}

#sidebar-overlay {
    background-image:
        linear-gradient(rgba(255, 250, 247, 0.9), rgba(255, 250, 247, 0.9)),
        url(side-overlay.png);
    background-repeat: no-repeat;
    
    
}

.notables img {
    float: left;
    height: 7rem;
    width: 7rem;
    padding-right: 15px;
   padding-top: 15px;
   padding-top: 10px;
}

.styled-btn {
    background-color: #8F4307;
    color: #FDE6BE;
    font-size: 1rem;
    border: 0;
    padding: 0 20px;
    text-align: center;
    border-radius: 5px;
    line-height: 2.5;
}

.styled-btn:hover {
    background-color: rgb(161, 83, 30);
}

/* footer CSS Below ---------------------------------*/
section#footer {
    display:grid;
    margin: 1em 0 0 0;
    padding: 1em;
    background-color: rgba(219, 212, 211, 10);
    border-top: 1px solid rgb(122, 117, 117);
    
}
#footer-text {
    text-align: center;
    margin: 5vh auto 3vh auto;
    font-size: 1em;
    letter-spacing: 5px;
    }
#form-contact{
    display:grid;
    grid-gap: 1;
    margin: 1em;
    grid-template-rows: 1, 1fr;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: 
    "customer-name customer-email"
    "customer-message customer-message"
    ". . "
    "sendmess-button . "
}
#form{
    margin: 16px;
}
#contact-info{
    display: grid;
    margin: 1em;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 2fr);
    grid-template-areas: 
    "contact-text contact-text"
    "contact-text contact-text"
    "address twitter"
    "address instagram"
    "phonenumber dribble"
    "email facebook";
}
#contact-text{
    grid-area: contact-text;
    margin-top: none;
    
}
#customer-name{ grid-area: customer-name;
    padding-left: 10px;
    background-color: rgb(224, 236, 238);
    }

#customer-name:hover {
    background-color: whitesmoke;
}
#customer-email:hover {
    background-color: whitesmoke;
}
#customer-message:hover {
    background-color: whitesmoke;
}

#customer-email{grid-area: customer-email;padding-left: 10px; background-color: rgb(224, 236, 238);}
#customer-message{grid-area: customer-message; background-color: rgb(224, 236, 238); padding-left: 10px;
    padding-top: 10px}
#sendmess-button{
    grid-area: sendmess-button;
    border-radius: 6px;
    background-color: rgb(197, 46, 46);
    color: white;
}
#address{grid-area: address;}
#phonenumber{grid-area: phonenumber}
#email{grid-area:email}
#twitter{grid-area: twitter}
#instagram{grid-area:instagram}
#dribbble{grid-area: dribble}
#facebook{grid-area: facebook}
#contact-info li{
    list-style-type: none;
}
.fa {
    padding: 5px;
    font-size: 10px;
    width: 10px;
    text-align: center;
    text-decoration: none;
    border-radius: 85%;
  }
  /*Hover effect on social media*/
  .fa:hover {
    opacity: 0.7;
  }
  /* Facebook */
  .fa-facebook {
    background:grey;
    color: white;
  }
  /* Twitter */
  .fa-twitter {
    background:grey;
    color: white;
  }
/* Dribbble*/
  .fa-dribbble{
      background: grey;
      color: white;
  }
/* Instagram */
  .fa-instagram{
      background: gray;
      color: white;
  }
  /* Email */
  .fa-envelope-square{
      background: grey;
      color: white;
  }
/* Phone */
  .fa-phone{
      background: grey;
      color: white;
  }
/* Address */
  .fa-home{
      background: grey;
      color: white;
  }